
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Doanh thu</h5>
                    <span class="h2 font-weight-bold mb-0">{{profitLastMonth}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">                
                  <span class="text-nowrap">3 tháng gần đây</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Số hóa đơn</h5>
                    <span class="h2 font-weight-bold mb-0">{{someBill}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">                
                  <span class="text-nowrap">3 tháng gần đây</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Tiêu thụ</h5>
                    <span class=" font-weight-bold mb-0">{{TopProduct}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">                
                  <span class="text-nowrap">Bán chạy nhất</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Tiêu thụ</h5>
                    <span class="font-weight-bold mb-0">{{Descen}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">                
                  <span class="text-nowrap">Bán ít nhất</span>
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
    <!-- New Store -->
    <div class="card shadow mb-4">
        <div class="card-body d-flex justify-content-center">
            <button class="snip1547" [routerLink]="['/chain-store/add-store']"><span>Thêm cửa hàng mới</span></button>
        </div>
    </div>
    <!-- Store From API -->
    <div *ngFor="let store of stores" class="card shadow mb-4"(click)="clickStore(store[0].id)">
        <div class="card-header py-3">

            <h5 class="m-0 font-weight-bold text-primary text-uppercase">{{store[0].namestore}}</h5>

        </div>
        <div class="card-body">
            <div class = "row m-0">
              <p>
                <span class="text-info"><i class="ni ni-square-pin"></i> Địa chỉ: </span>
                {{store[0].address}}
              </p>
            </div>
            <div class = "row">
              <div class ="col-xl-3 col-lg-6">
                <p>
                  <span class="text-yellow"><i class="ni ni-user-run"></i> Số lượng nhân viên: </span>
                  {{store[2]}}
                </p>
              </div>
              <div class ="col-auto">
                <p>
                  <span class="text-red"><i class="ni ni-circle-08"></i> Quản lí: </span>
                  {{store[1].fullname}}
                </p>
              </div>

            </div>
        </div>
    </div>
</div>

